<html>
<head>
  <title>Exedra | Route oriented PHP microframework</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="A multi-tier nestful route oriented PHP microframework, shipped with a flexibility that let you design, plan and prototype your application and execution hierarchically through the map of routing">
  <meta name="author" content="Ahmad Rahimie">
  <link rel="stylesheet" type="text/css" href="{{ url.asset('css/bootstrap.min.css') }}">
  <script src="{{ url.asset('js/jquery.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url.asset('devaid/plugins/font-awesome/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url.asset("highlight-js/styles/rainbow.css") }}">
  <script type="text/javascript" src='{{ url.asset("highlight-js/highlight.pack.js") }}'></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/javascript">

    $(document).ready(function () {
      $("pre code").each(function (i, block) {
        this.innerHTML = this.innerHTML.trim();
      });
    });

    var toggleMenu = function () {
      if ($('.left-nav').hasClass('active'))
        $('.left-nav').removeClass('active');
      else
        $('.left-nav').addClass('active');
    };

  </script>
  <style type="text/css">
    pre {
      border: 0px;

    }

    .hljs {
      white-space: pre;
      overflow-x: auto;
    }

    .hljs::-webkit-scrollbar {
      /*background: #414141;*/
      height: 10px;
    }

    .hljs::-webkit-scrollbar-thumb {
      background: #1a1a1a;
    }

    hr {

    }

    h2 {
      margin-top: 35px;
      border-top: 1px solid #eaeaea;
      padding-top: 10px;
    }

    h2#table-of-contents {
      border-top: 0px;
    }

    h3 code {
      font-size: 0.7em;
      position: relative;
      left: -5px;
      margin-top: 35px;
      display: block;
      background: white;
      color: #007272;
    }

    code {

    }

    .nav-toggle-icon {
      position: absolute;
      left: 40px;
      font-size: 30px;
    }

    @media (max-width: 1080px) {
      .left-nav {

      }
    }

    @media (min-width: 781px) {
      .nav-toggle-icon {
        display: none;
      }
    }

    @media (max-width: 780px) {
      .left-nav {
        display: none;
      }

      .nav-toggle-icon {
        display: block;
      }

      .content-body {
        margin-left: 0px !important;
      }

      .left-nav.active {
        display: block;
        /*position: absolute;*/
        width: 100%;
        padding:20px;
        padding-top: 55px;
        background: white;
      }
    }

    @media (max-width: 600px) {
      h3 code {
        font-size: 14px;
        display: none;
      }
    }

    .container {
      position: relative;
      margin-bottom: 200px;
      margin-top: 70px;
    }

    .left-nav {
      /*position: absolute;*/
      float: left;
      width: 200px;
      /*left: -200px;*/
      padding-top: 55px;
      padding-right: 10px;
    }

    .left-nav li.active {
      background: #009fff;
      border-radius: 5px;
    }
    
    .left-nav a {
      text-decoration: none;
    }

    .left-nav li.active a {
      color: white;
    }

    .left-nav ul {
      list-style: none;
      padding: 0px;
    }

    .left-nav ul li ul li {
      padding-left: 10px;
      border-bottom: 1px solid #f3f3f3;
      padding: 1px 0 1px 10px;
    }

    .left-nav ul li:last-child {
      border-bottom: 0px;
    }

    .left-nav > ul > li {
      margin-bottom: 30px;
    }

    .left-nav ul li a {
      display: block;
    }

    .content-body {
      margin-left: 200px;
      padding: 20px;
    }

    .content-body > h1:first-child {
      border-bottom: 1px solid #f3f3f3;
      padding-bottom: 10px;
    }

    .content-body pre {
      padding: 0px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="left-nav">
    <ul>
      {% for title, submenu in menu %}
        <li>
          <h4>{{ title }}</h4>
          <ul>
            {% for path, name in submenu %}
              <li class="{{ current_view == path ? 'active' : '' }}">
                <a href="{{ url.route('@web.docs.default', {'view': path}) }}">{{ name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="header" style="text-align: right;">
    <div class="nav-toggle-icon" onclick="toggleMenu()">
      <a href="javascript:;">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <a href="{{ url.route('@web') }}">
      <span class="fa fa-home"></span>
      Home
    </a> |
    <a href="https://github.com/rosengate/exedra" target="_blank">
      <span class="fa fa-github"></span>
      Github
    </a>
  </div>
  <div class="content-body">
    {% if twig_path %}
      {% include twig_path %}
    {% endif %}
    {% if contents %}
      {{ contents|raw }}
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $('h1, h2, h3, h4, h5, h6').each(function (i, e) {
    // https://stackoverflow.com/questions/1983648/replace-space-with-dash-and-make-all-letters-lower-case-using-javascript
    var id = $(e).html().replace(/\s+/g, '-').toLowerCase();

    $(e).attr('id', id);
  });
</script>
</body>
</html>